<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
		<!-- Make sure you put this AFTER Leaflet's CSS -->
	 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
	   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	   crossorigin=""></script>
	</head>
	<body>
		<div id="mapid" style="height: 600px;">

		<script>
			/**
	     * Converts an HSL color value to RGB. Conversion formula
	     * adapted from http://en.wikipedia.org/wiki/HSL_color_space.
	     * Assumes h, s, and l are contained in the set [0, 1] and
	     * returns r, g, and b in the set [0, 255].
	     *
	     * @param   {number}  h       The hue
	     * @param   {number}  s       The saturation
	     * @param   {number}  l       The lightness
	     * @return  {Array}           The RGB representation
	     */
			function hslToRgb(h, s, l){
				var r, g, b;
				if(s == 0){
						r = g = b = l; // achromatic
				}else{
						var hue2rgb = function hue2rgb(p, q, t){
								if(t < 0) t += 1;
								if(t > 1) t -= 1;
								if(t < 1/6) return p + (q - p) * 6 * t;
								if(t < 1/2) return q;
								if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
								return p;
						}
						var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
						var p = 2 * l - q;
						r = hue2rgb(p, q, h + 1/3);
						g = hue2rgb(p, q, h);
						b = hue2rgb(p, q, h - 1/3);
				}
				return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
			}
			function rgb2hex(red, green, blue) {
				var rgb = blue | (green << 8) | (red << 16);
				return '#' + (0x1000000 + rgb).toString(16).slice(1)
			}
			function pm25Color(value) {
				if (value > 50)
					value = 50;
				value *= 2.4; // Convert to range 0-120
				value = 120 - value; // reverse, so the higher value, the more red it is
				if (value < 0)
					value = 0;
				hsv = hslToRgb(value/360.0, 1, 0.5);
				console.log(hsv)
				return rgb2hex.apply(this, hsv);
			}
			var json = JSON.parse("{{.json}}");
			var mymap = L.map('mapid').setView([json[0].lat, json[0].lng], 18);
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
				maxZoom: 20,
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
					'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				id: 'mapbox.streets'
			}).addTo(mymap);
			for (var i=0; i<json.length; i++) {
				var circle = L.circle([json[i].lat, json[i].lng], {
				    color: 'red',
				    fillColor: pm25Color(json[i]["value"]),
				    fillOpacity: 1,
				    radius: 3.5,
						stroke: false
				}).addTo(mymap);
				circle.bindPopup("PM2.5: " + json[i]["value"] + " (ug/m3)");
			}
		</script>
	</body>
</html>
